doctype html
html
  head
    title Titan-Quick-MQTT-Tester
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/styles.css')
  body
    div.container.listing-reg
      h1 Titan-Quick-MQTT-Tester

      block content
