doctype html
html
  head
    title Quick Titan-Micro-MQTT
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/styles.css')
  body
    div.container.listing-reg
      h1 Titan-Micro-MQTT tester

      block content
